body {
	background-size: 100% auto;
	background: url('images/footer_lodyas.png');
}

a {
	color: #D8D59A;
	font-size: 12pt;
}

a:hover {
	color: #EEEEEE;
	font-size: 12pt;
}

i.fa-briefcase {
	transition: all 0.3s ease;
}
i.fa-briefcase:hover {
	color: #D8D59A;
	transform: scale(1.5); 
	text-shadow: 1px 1px 3px #645F39;
}

i.fa-paint-brush {
	transition: all 0.3s ease;
}
i.fa-paint-brush:hover {
	color: #D8D59A;
	transform: scale(1.5); 
	text-shadow: 1px 1px 3px #645F39;
}

i.fa-video-camera {
	transition: all 0.3s ease;
}

i.fa-video-camera:hover {
	color: #D8D59A;
	transform: scale(1.5); 
	text-shadow: 1px 1px 3px #645F39;
}

/* Note that the hover colors and shadows above can be manipulated individually. But for now they are all #D8D59A and #645F39 respectively*/

i.fa {
	padding-bottom: 10px;
	color: #EEEEEE;
}

#wrapper {
	background: #322D2D;
	padding-top: 50px;
	padding-bottom: 50px;
	margin: 50px 0px 30px 0px;
	background: url('images/footer_lodyas.png');
}

.well {
	margin-top: 20px;
}

.jumbotron {
	background: url('https://quietkinetic.files.wordpress.com/2013/06/shutterstock_124714336.jpg');
	background-size: cover;
	color: #fff;
	height: 400px;
	margin: 0px;
	padding-top: 150px;
	padding-bottom: 20px;
}

.container-fluid {
	height: 70px;
}

.navbar {
	padding-bottom: 0px;
	border-radius: 0px;
}

.navbar-header {
	height: 70px;
}

.navbar-default .navbar-collapse {
	border-color: none;
}

.navbar-nav > li {
background-color: #343434;
}

nav.navbar.navbar-default {
margin-bottom: 0px;
}

.navbar-default .navbar-nav>li>a {
color: #D8D59A;
}


.navbar-default .navbar-nav>li>a:hover {
color: #EEEEEE;
}

.navbar-nav>li>a:focus {
color: #EEEEEE;
}

.navbar-default {
background-color: #322D2D;
border-color: #3A3434;
background: url('images/footer_lodyas.png');

}

#MainContent {
	color: #EEEEEE;
}
